{% extends "KLRestaurationBundle::layout.html.twig" %}

{% block title %}{{ parent()}}{% endblock %}

{% block body %}
<div class="row product">
  <div class="col-lg-3">

    <h1>Nos gammes de produits</h1>

    <div class="list-group">
      <a href="#" class="list-group-item">Hamburgers</a>
      <a href="#" class="list-group-item">Pizzas</a>
      <a href="#" class="list-group-item">Tartes</a>
    </div>
  </div>

  <div class="col-lg-9">

      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 thumbnail">
          <a href="#"><img width="100%" height="auto" class="card-img-top"
            src="https://images.unsplash.com/photo-1428660386617-8d277e7deaf2" alt=""></a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="#">Produit n° 1</a>
            </h5>
            <h5>24.99 €</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
          </div>
          <div class="card-footer">
            <p>
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </p>
            <p>
              <a class="btn btn-success" href="#" role="button">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                Ajouter au panier
              </a>
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 thumbnail">
          <a href="#"><img width="350px" height="200px" class="card-img-top"
            src="https://images.unsplash.com/photo-1510693206972-df098062cb71" alt=""></a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="#">Produit n° 2</a>
            </h5>
            <h5>24.99 €</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="card-footer">
            <p>
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </p>
            <p>
              <a class="btn btn-success" href="#" role="button">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                Ajouter au panier
              </a>
            </p>
          </div>
        </div>
      </div>

  </div>
</div>
{% endblock %}
