{% extends "KLRestaurationBundle::layout.html.twig" %}

{% block title %}{{ parent()}}{% endblock %}

{% block body %}
<div class="row product">
  <div class="col-lg-3">

    <h1 class="presentation-titre">Nos gammes de produits</h1>

    <div class="list-group">
      <a href="#" class="list-group-item">Hamburgers</a>
      <a href="#" class="list-group-item">Pizzas</a>
      <a href="#" class="list-group-item">Tartes</a>
    </div>
  </div>

  <div class="col-lg-9">

      <div class="row">
        <div class="col-lg-trente col-md-6 mb-4 thumbnail">
          <div class="container-img-product">
            <a href="#"><img class="card-img-top product-img"
              src="https://images.unsplash.com/photo-1428660386617-8d277e7deaf2" alt=""></a>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a class="product-title" href="#">Hamburger de luxe</a>
            </h5>
            <h5 class="product-price">24.99 €</h5>
            <p class="card-text product-text">
              Son pain moelleux, sa générosité…
              Qu’il soit classique, végétarien ou exotique, ce burger à la cote et
              on ne s’en lasse pas.
              Vous aussi vous l’adulez n’est-ce pas ?
            </p>
          </div>
          <div class="card-footer">
            <p>
              <small class="text-muted product-star">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </p>
            <p>
              <a class="btn btn-add-panier" href="#" role="button">
                <i class="fa fa-shopping-cart"></i>
                Ajouter au panier
              </a>
            </p>
          </div>
        </div>

        <div class="col-lg-trente col-md-6 mb-4 thumbnail">
          <div class="container-img-product">
            <a href="#"><img class="card-img-top product-img"
              src="https://images.unsplash.com/photo-1510693206972-df098062cb71" alt=""></a>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a class="product-title" href="#">Pizza italienne</a>
            </h5>
            <h5 class="product-price">34.99 €</h5>
            <p class="card-text product-text">
              L'Italie vient à vous au travers de cette alléchante spécialité
              que nous vous proposons !
              Nos pizzas faites maison sont confectionnées dans le plus grand respect d'un
              art qui se veut traditionnel.
            </p>
          </div>
          <div class="card-footer">
            <p>
              <small class="text-muted product-star">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </p>
            <p>
              <a class="btn btn-add-panier" href="#" role="button">
                <i class="fa fa-shopping-cart"></i>
                Ajouter au panier
              </a>
            </p>
          </div>
        </div>
        <div class="col-lg-trente col-md-6 mb-4 thumbnail">
          <div class="container-img-product">
            <a href="#"><img class="card-img-top product-img"
              src="https://images.unsplash.com/photo-1510693206972-df098062cb71" alt=""></a>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a class="product-title" href="#">Pizza italienne</a>
            </h5>
            <h5 class="product-price">34.99 €</h5>
            <p class="card-text product-text">
              L'Italie vient à vous au travers de cette alléchante spécialité
              que nous vous proposons !
              Nos pizzas faites maison sont confectionnées dans le plus grand respect d'un
              art qui se veut traditionnel.
            </p>
          </div>
          <div class="card-footer">
            <p>
              <small class="text-muted product-star">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </p>
            <p>
              <a class="btn btn-add-panier" href="#" role="button">
                <i class="fa fa-shopping-cart"></i>
                Ajouter au panier
              </a>
            </p>
          </div>
        </div>
      </div>

  </div>
</div>
{% endblock %}
