{{ form_start(form,{
    'attr': { 'class': 'navbar-form navbar-left', 'action': path('kl_restauration_produit_search')}
}) }}


    <div class="form-group input-group">
      <div class="input-group-addon">
        <i class="fa fa-search"></i>
      </div>
      {{ form_widget(form.search,{
      'attr': { 'class': 'form-control', 'placeholder':"Taper le nom d'un produit"
      }
      }) }}
    </div>

    <br> <div class="clear"></div>
    {{ form_rest(form) }}
{{ form_end(form)}}
